<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ми3метр</title>
<link rel="stylesheet"  href="/common.css">
</head>
<body>
    <div class="mainContainer">
        <header>
        <h1>Мимимиметр</h1>
        <h2>Топ 10</h2>
    	</header>
    
		<table>
			<tr th:each="candidate,itrStat : ${candidates}">
				<td>
					<h2 th:text="${itrStat.count}"></h2>
				</td>
				<td>
						<img class="candidateImage"
							style="max-width: 150px; max-height: 150px"
							th:src="@{'data:image/jpeg;base64,'+${candidate.getPhoto()}}"
							alt="" />
				</td>
				<td><h3 th:text="${candidate.getName()}"></h3></td>
			</tr>
		</table>
		<footer>
			<a th:href="@{/}">На главную</a>
		</footer>
	</div>
</body>
</html>